html, body{
    overflow-x:hidden;
}

.total_container{
    display:flex;
    background-color: navy;
    min-height: 100vh;
    max-width: 5500px;
    width: 100%;
    margin: 0 auto;
}

button{
    border:none;
    background-color: transparent;
}

.nav_container{
    position: fixed;
    min-height: 60px;
    width: 100%;
    display:flex;
}

.nav_right_container{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;

}

.brother_tiles_logo{
    height: 100%;
    width: auto;
    margin-left: 150px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: grey;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home, .contact, .services, .about, .projects{
    width: auto;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
    color:grey;
}

.title_section{
    margin-top: -100px;
    min-height: 750px;
    width: 100%;
    background-color: rgb(136, 87, 87);
    display: flex;
    align-items: center;
    justify-content: center;
    /* When ready to add a logo uncomment the following lines 54 - 56 */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIIUfpfdEXpzbCh9T30KPtS0pdv7wYRnE28A&s);
    background-repeat:no-repeat;
    background-position: center; */
}

.about_section{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    width: 100%;
    background-color: lightgrey;
    border: 2px solid black;
}

.projects_section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 100%;
    background-color: rgb(255, 252, 252);
}
.contact_container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width:100%;
}
.contact_section{
    background-color: lightgray;
    min-height: 400px;
    width:100%;
}
.get_in_touch{
    margin-left: 150px;
    color: black;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 75px;
}
.user_info{
    
    font-size: 17px;
    margin-left: 150px;
    margin-right: 100px;
    font-weight: bold;
}
.submit_button{
    margin-top: 25px;
    width: 100px;
    height: 40px;
    background-color: grey;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}