.total_container{
    min-height: 100vh;
    max-width: 1920px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav_container{
    min-height: 60px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.brother_tiles_logo{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    color: grey;
    margin-left: 100px;
}

.home, .contact, .services, .about, .projects{
    width: auto;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    color:grey;
}

button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.title_section{
    margin-top: -150px;
    min-height: 750px;
    width: 100%;
    background-color: rgb(136, 87, 87);
    display: flex;
    align-items: center;
    justify-content: center;
    /* When ready to add a logo uncomment the following lines 54 - 56 */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIIUfpfdEXpzbCh9T30KPtS0pdv7wYRnE28A&s);
    background-repeat:no-repeat;
    background-position: center; */
}

.about_section{
    min-height: 250px;
    width: 100%;
    background-color: lightgrey;
    border: 2px solid black;
}

.text{
    text-align: center;
}
.text2{
    text-align: center;
}