.total_container{
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    background-color: rgb(29, 29, 179);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav_container{
    min-height: 60px;
    width: 100%;
    display: flex;
}

.home, .contact, .services, .about, .projects{
    opacity: 50%;
    background-color: whitesmoke;
    width: 30%;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    margin-right: 10px;
}

.text{
    text-align: center;
}