.total_container{
    min-height: 100vh;
    max-width: 1920px;
    width: 100%;
    background-color: rgb(29, 29, 179);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav_container{
    min-height: 60px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.brother_tiles{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    color: grey;
}

.home, .contact, .services, .about, .projects{
    width: auto;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    color:grey;
}

button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.title_container{
    margin-top: -150px;
    min-height: 750px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIIUfpfdEXpzbCh9T30KPtS0pdv7wYRnE28A&s);
    background-repeat:no-repeat;
    background-position: center;
}

.text{
    text-align: center;
}