.total_container{
    display:flex;
    background-color: navy;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    margin: 0 auto;
}

button{
    border:none;
    background-color: transparent;
}

.nav_container{
    position: fixed;
    min-height: 60px;
    width: 100%;
    display: flex;
}

.nav_right_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60px;
}

.brother_tiles_logo{
    min-height: 100%;
    width: auto;
    margin-left: 100px;
    margin-right: 270px;
    color: grey;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home{
    margin-left: 400px;
}

.home, .contact, .services, .about, .projects{
    width: auto;
    min-height: 60px;
    margin-right: 20px;
    cursor: pointer;
    color:grey;
}

.contact_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.contact_section{
    background-color: rgb(175, 175, 175);
    min-height: 100%;
    width: 50%;
}

