.total_container{
    display:flex;
    background-color: navy;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    margin: 0 auto;
}

button{
    border:none;
    background-color: transparent;
}

.nav_container{
    position: fixed;
    min-height: 60px;
    width: 100%;
    display:flex;
}

.nav_right_container{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;

}

.brother_tiles_logo{
    height: 100%;
    width: auto;
    margin-left: 150px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: grey;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 13px;
}

.home, .contact, .services, .projects{
    width: auto;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
    color:grey;
}

.contact_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.contact_section{
    background-color: rgb(175, 175, 175);
    min-height: 100%;
    width: 53%;
}

h1{
    margin-top: 100px;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}

.placeholder{
    margin-left: 10px;
    font-weight: bold;
    font-size: 17px;
}

.centeralize{
    display:flex; 
    margin-top: 35px; 
    justify-content: center;
}

.message_box{
    display: flex;
    justify-self: center;
    width: 95%;
    height: 200px;
}