.total_container{
    min-height: 100vh;
    min-width: 100vw;
    background-color: bisque;
    margin: 0 auto;
    animation: fadeIn 2s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.nav_container{
    position: absolute;
    top: 10px;
    min-height: 60px;
    width: 100%;
    display:flex;
    z-index: 10;
}

.nav_right_container{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;

}

.brother_tiles_logo{
    height: 100%;
    width: auto;
    margin-left: 150px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: grey;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 13px;
}

.home, .contact, .services, .projects{
    width: auto;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
    color:grey;
}

/* .title_container{
    display: flex;
    position: absolute;
    top: 70px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
} */
.title_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
}

p{
    font-size: 15px;
    text-align: justify;
    width: 35%;
}

.projects_container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.first_project_container, .sec_project_container, .third_project_container{
    margin: 65px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 280px;
}

#first_project, #second_project, #third_project{
    width: 100%;
    display: flex;
    height: auto;
    border-radius: 10px;
    transition-delay: 0.0s;
    transform: translateY(100%);
}

.hidden{
    left: -100%;
}

#first_project.visible, #second_project.visible, #third_project.visible{
    transform: translateY(0);
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.slider{
    position: relative;
    overflow: hidden;
    width: 300px;
    /* height: 300px; */
    margin: auto;

}

.slide{
    display:none;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-30px);
    animation: fadeIn 1.5s ease-out forwards;
}

.slide.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slide img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.arrow_container{
    color: black;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    font-size: 50px;
    padding:10px;
}

.arrow_left{
    display: flex;
    justify-self: left;
    align-self: center;
    /* margin-right: 10px; */
}
.arrow_right{
    right: 30px;
}

.arrow_left, .arrow_right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: black;
    cursor: pointer;
    z-index: 10;
}

.arrow_left:hover, .arrow_right:hover{
    opacity: 100%;
    transition: opacity 0.5s;
}